name: "Rspec Test"

on: [push, pull_request]

jobs:
  rspec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2

      - name: Install dependencies
        run: bundle install

      - name: Setup database
        run: bundle exec rails db:create db:schema:load RAILS_ENV=test

      - name: Run Rspec
        run: bundle exec rspec